* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  /* align-content: center;
  flex-direction: row; */
  background-color: #1B2021;
  flex-direction: row;
}

#scoreboard {
  display: flex;
  align-items: center;
}

body {
  text-align: center;
  background-color: #A6A867;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #51513D;
}

.quiz {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

form {
  padding: 5%;
}

.startBtn {
  margin-top: 20px;
}

#timer-all {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* display: flex;
  text-align: right;
  align-items: end;
  margin-right: 50px;
  align-content: end;
  background-color: red; */
}

#timer {
  display: flex;
  color: white;
  background-color: black;
  /* text-align: right;
  align-items: end;
  margin-right: 50px;
  align-content: end; */
}

.choiceBtn {
  /* width: 50px;
  height: 25px; */
  display: block;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

a {
  display: inline-block;
  color: white;
}

#timer-id {
  background-color: black;
  color: white;
  display: inline-block;
  /* text-align: right;
  align-items: end;
  justify-content: flex-end; */
}

.label {
  font-size: large;
}